mat-card {
  padding: 8px;
}
.grid-container {
  margin: 8px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  width: 98%;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.card-content {
  width: 80%;
  padding: 20px;
  height: 80%;
}
